<%= form_for(@transmitter) do |f| %>
  <% if @transmitter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transmitter.errors.count, "error") %> prohibited this transmitter from being saved:</h2>

      <ul>
      <% @transmitter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rfc %><br>
    <%= f.text_field :rfc %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :neighborhood %><br>
    <%= f.text_field :neighborhood %>
  </div>
  <div class="field">
    <%= f.label :zc %><br>
    <%= f.number_field :zc %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :document_type %><br>
    <%= f.text_field :document_type %>
  </div>
  <div class="field">
    <%= f.label :expedition_place %><br>
    <%= f.text_field :expedition_place %>
  </div>
  <div class="field">
    <%= f.label :tax_regime %><br>
    <%= f.text_field :tax_regime %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
