<p id="notice"><%= notice %></p>

<p>
  <strong>Rfc:</strong>
  <%= @transmitter.rfc %>
</p>

<p>
  <strong>Name:</strong>
  <%= @transmitter.name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @transmitter.street %>
</p>

<p>
  <strong>Number:</strong>
  <%= @transmitter.number %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @transmitter.neighborhood %>
</p>

<p>
  <strong>Zc:</strong>
  <%= @transmitter.zc %>
</p>

<p>
  <strong>City:</strong>
  <%= @transmitter.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @transmitter.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @transmitter.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @transmitter.phone %>
</p>

<%= link_to 'Edit', edit_transmitter_path(@transmitter) %> |
<%= link_to 'Back', transmitters_path %>
