<p id="notice"><%= notice %></p>

<h1>Listing Documents</h1>

<table>
  <thead>
    <tr>
      <th>Folio</th>
      <th>Cliente</th>
      <th>Total</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= link_to document.folio, document %></td>
        <td><%= document.customer.name %></td>
        <td><%= document.total %></td>
        <td><%= link_to 'X', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_document_path %>
