
<h1>nueva factura</h1>
<%= form_for(@document, url:new_fact_path) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-sm-3">
      <%= f.label :folio %><br>
      <%= f.text_field :folio %>
    </div>
    <div class="field col-sm-6">
      <%= f.label :customer_id %><br>
      <%= collection_select(:document, :customer_id, Customer.all, :id, :name,{:prompt=>""}, {:class => 'selectpicker form-control',"data-live-search" => "true"}) %>

    </div>




  <br><br><br><br>


  <table>
    <tr>
      <th>Cantidad</th>
      <th>codigo</th>
      <th>unidades</th>
      <th>Producto</th>
      <th>P. Unitario</th>
      <th>Importe</th>
    </tr>
    <% (1..5).each do |i| %>

    <tr>
      <td><%= text_field_tag "descriptions[#{i}][cantidad]" %></td>
      <td><%= text_field_tag "descriptions[#{i}][code]" %></td>
      <td><%= text_field_tag "descriptions[#{i}][unit]" %></td>
      <td><%= collection_select("descriptions[#{i}][product]",
      :product_id, Product.all, :id, :description,{:prompt =>""}, {:class => 'selectpicker form-control',"row" => "#{i}"}) %></td>
      <td><%= text_field_tag "descriptions[#{i}][price]" %></td>
      <td><%= text_field_tag "descriptions[#{i}][amount]" %></td>
    </tr>
    <% end %>

  </table>



  <br><br>


    <div class="field">
      <%= f.label :subtotal %> <%= f.text_field :subtotal %>
    </div>
    <div class="field">
      <%= f.label :iva %> <%= f.text_field :iva %>
    </div>
    <div class="field">
      <%= f.label :total %> <%= f.text_field :total %>
    </div>
    <div class="field">
      <%= f.label :written_amount %> <%= f.text_field :written_amount %>
    </div>
    <div class="field">
      <%= f.label :payment_method %> <%= f.text_field :payment_method %>
    </div>
    <div class="field">
      <%= f.label :account_payment %> <%= f.number_field :account_payment %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

  <div id= "products_list">
    contenido
  </div>


  <script type="text/javascript">
    $('select').select2({
      allowClear: true,
      placeholder: "Selecionar",});

      $("select").change(function(){
        var value = $(this).val();
        var id = $(this).attr("row");
        $.ajax({
          url: "/products/"+value+".json",
          type: 'GET',
          data: value,
          success: function(data){
            //alert(id);
            $("#descriptions_"+id+"_unit").val(data.unit)
            $("#descriptions_"+id+"_code").val(data.code)
            $("#descriptions_"+id+"_price").val(data.price)
            $("#descriptions_"+id+"_amount").val(data.price*data.cantidad)

          }
        })
      })
  </script>
